<div class="pcb-content-div">
    <div class="page-header">                    
        <h1 class="pcb-h1-centered"></h1> 
        <p class="pcb-p-larger pcb-p-centered">Arma tu PCB o sube tu archivo ya hecho</p>                   
    </div>
                    
    <div class="row">
        
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <section id="cajaimagen">

                        <img src="images/compomentes/icono_borrar.png" alt="" id="borrarImagen">
                        <section id="espacio"></section>
                        <img src="images/compomentes/cruz.png" alt="" id="imagenDrop13">
                        <section id="espacio"></section>
                        <img src="images/compomentes/vertical.png" alt="" id="imagenDrop14">
                        <section id="espacio"></section>
                        <img src="images/compomentes/horizontal.png" alt="" id="imagenDrop15">
                        <section id="espacio"></section>
                        <img src="images/compomentes/lia.png" alt="" id="imagenDrop16">
                        <section id="espacio"></section>
                        <img src="images/compomentes/lda.png" alt="" id="imagenDrop17">
                        <section id="espacio"></section>
                        <img src="images/compomentes/lib.png" alt="" id="imagenDrop18">
                        <section id="espacio"></section>
                        <img src="images/compomentes/ldb.png" alt="" id="imagenDrop19">
                        <section id="espacio"></section>
                        <img src="images/compomentes/ti.png" alt="" id="imagenDrop20">
                        <section id="espacio"></section>
                        <img src="images/compomentes/td.png" alt="" id="imagenDrop21">
                        <section id="espacio"></section>
                        <img src="images/compomentes/ta.png" alt="" id="imagenDrop22">
                        <section id="espacio"></section>
                        <img src="images/compomentes/tb.png" alt="" id="imagenDrop23">
                        <!--<input type="button" value="click" onclick="rotar_imagen()">-->
                    </section>
                </div>
                <div class="col-lg-5 col-md-5">
                    <section id="cajaimagen">
                        <img src="images/compomentes/bath.png" alt="" id="bat">
                        <section id="espacio"></section>
                        <img src="images/compomentes/bombh.png" alt="" id="bomb">
                        <section id="espacio"></section>
                        <img src="images/compomentes/caph.png" alt="" id="cap">
                        <section id="espacio"></section>
                        <img src="images/compomentes/dioh.png" alt="" id="dio">
                        <section id="espacio"></section>
                        <img src="images/compomentes/dioRaroh.png" alt="" id="dioRaro">
                        <section id="espacio"></section>
                        <img src="images/compomentes/dioSentidoh.png" alt="" id="dioSentido">
                        <section id="espacio"></section>
                        <img src="images/compomentes/fCorrienteh.png" alt="" id="fCorriente">
                        <section id="espacio"></section>
                        <img src="images/compomentes/induch.png" alt="" id="induc">
                        <section id="espacio"></section>
                        <img src="images/compomentes/interh.png" alt="" id="inter">
                        <section id="espacio"></section>
                        <img src="images/compomentes/pilaah.png" alt="" id="pilaa">
                        <section id="espacio"></section>
                        <img src="images/compomentes/resisth.png" alt="" id="resist">
                        <section id="espacio"></section>
                        <img src="images/compomentes/tierraah.png" alt="" id="tierraa">
                    </section>
                </div>
                <div class="col-lg-2 col-md-2">
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('bat');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('bat');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('bomb');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('bomb');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('cap');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('cap');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('dio');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('dio');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('dioRaro');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('dioRaro');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('dioSentido');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('dioSentido');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('fCorriente');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('fCorriente');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('induc');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('induc');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('inter');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('inter');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('pilaa');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('pilaa');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('resist');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('resist');">
                    <section id="espacio_botones"></section>
                    <section id="espacio_botones"></section>
                    <input type="button" value="vertical" onclick="rotar_imagen_vertical('tierraa');">
                    <input type="button" value="horizontal" onclick="rotar_imagen_horizontal('tierraa');">
                    <section id="espacio_botones"></section>
                </div>
            </div>

            <div class="row">
                    <p class="pcb-p-larger pcb-p-centered">Arrastra tu archivo de extensión .PCB o .gbr</p>
                    <input type="file" id="archivo" name="archivo" /> 
                    <section id="zonadedestino">
                        <p>Arrastre su archivo aquí<p>
                    </section>
                    <input type="submit" value="enviar" class="boton">                                           
            </div>

        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="col-lg-10 col-md-10">
                <section id="zonadestino">
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                    <section id="posicionDestino">
                    </section>
                </section>
            </div>                                              
        </div>

    </div>
    
 
    
</div>