<div class="pcb-content-div">
                
    <div class="page-header">                    

        <h1 class="pcb-h1-centered">TuPCB</h1>
        <p class="pcb-p-larger pcb-p-centered">
           Somos una empresa mexicana, conformada por un equipo 
           capacitado y comprometido con el desarrollo tecnológico 
           de México. La empresa se especializa en desarrollo de 
           sistemas embebidos para sistemas de control industrial, 
           sistemas con conectividad inalámbrica (RF, Bluetooth, 
           GPRS, WiFi y 3G) y wearables.
        </p>
    </div>
    
    
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <h1 class="pcb-h1-left">Misión</h1>
        </div>
    </div>                
    
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <img class="center-block img-responsive" src="images/pcb-empresa-mision.png" alt=""/>
        </div>
        <div class="col-lg-7">
            <p class="pcb-p-with-top-margin">
                En TuPCB tenemos como misión 
                desarrollar tecnología de calidad, alta 
                confiabilidad y de alto valor comercial, con diseños
                de vanguardia, cumpliendo con los parámetros que 
                demanda la industria, para satisfacer al 100% las 
                necesidades de nuestros clientes.                            
            </p>                        
        </div>
        <div class="col-lg-1"></div>
    </div>
    
    <hr>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <h1 class="pcb-h1-left">Visión</h1>
        </div>
    </div>                
    
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <img class="center-block img-responsive" src="images/pcb-empresa-vision.png" alt=""/>
        </div>
        <div class="col-lg-7">
            <p class="pcb-p-with-top-margin">
                Ser una empresa desarrolladora de tecnología 
                embebida para solucionar necesidades de las personas
                y clientes con un alto nivel de calidad, 
                confiabilidad y sustentabilidad en cada uno de los
                productos y proyectos que se desarrollen.
                Además de desarrollar dispositivos propios de la
                empresa para satisfacer necesidades del mercado.
            </p>                        
        </div>
        <div class="col-lg-1"></div>
    </div>
    
    <hr>
    
</div>