<div class="pcb-content-div">
    <div class="page-header">                    
        <h1 class="pcb-h1-centered">Manufactura de diseños</h1>
        <p class="pcb-p-centered">
            Realizamos la manufactura de tus diseños en serie, 
            asegurándote la calidad y la confiabilidad del acabado 
            de las tarjetas. Puedes estar seguros que tus tarjetas 
            son de calidad y confiables.
        </p>  
    </div>
    
    <div class="row pcb-centered-content-div">
        <div class="col-lg-12">
              
        </div>
        <div class="col-lg-1"></div>
    </div>
    
    <div class="row pcb-centered-content-div">
        
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <img class="img-responsive center-block" src="images/pcb-manufactura-pcb.png" alt=""/>
            <img class="img-responsive center-block" src="images/pcb-manufactura-pcbs-img1.png" alt=""/>
            <p>
                Fabricamos PCB de alta calidad para que estes seguro
                de que tus circuitos tiene la confiabilidad y las 
                condiciones necesarias para su uso. Verificamos que 
                cada tarjeta se encuentre sin defectos ni errores de
                manufactura.
            </p>
        </div>
        <div class="col-lg-5">
            <img class="img-responsive center-block" src="images/pcb-manufactura-ensamblado.png" alt=""/>
            <img class="img-responsive center-block" src="images/pcb-manufactura-ensamblado-img1.png" alt=""/>                                               
            <p>
                Realizamos el ensamblado de tus componentes, usamos 
                stencil de acero y soldadura de alta calidad para 
                una duración y buen funcionamiento de tus diseños y 
                productos.
            </p>
        </div>
        
        <div class="col-lg-5">
        </div>
        <div class="col-lg-1"></div>
                            
    </div>                                                
    <hr>
    
</div>