<div class="pcb-content-div">
    <div class="page-header">
        <h1 class="pcb-h1-centered">Servicios</h1>
        <p class="pcb-p-larger pcb-p-centered">TuPCB te ofrece los siguientes servicios</p>
    </div>
    
    <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-2 col-md-2"></div>
            <div data-ng-controller="NavbarController" class="col-lg-9 col-md-9">
                <a href="#/desarrollo">
                    <img class="img-responsive center-block" src="images/pcb-servicios-desarrollo.png" alt=""/>
                </a>
            </div>
            <div class="col-lg-1 col-md-1"></div>                                                
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-1 col-md-1"></div>
            <div data-ng-controller="NavbarController" class="col-lg-9 col-md-9">
                <a href="#/manufactura">
                    <img class="img-responsive center-block" src="images/pcb-servicios-manufactura.png" alt=""/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2"></div>                                                
        </div>

    </div>
    
    <hr>
    
</div>